{% extends "layout.html" %}
{% block content %}
<h1 class="ml-3 mt-3">All notes</h1>

    {% for note in notes %}
        
        {% if loop.index % 4 == 1 %}
            <div class="row ml-3 mr-3">
        {% endif %}

        <div class="col-sm">
            <div class="card text-white bg-{{ note.note_type }} mb-3" style="max-width: 100%;">
                <div class="card-header">{{ note.title }} <a style="color: white;" href="delete/{{ note.id }}"><i class="fa fa-trash-o float-right"></i></a></div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Primary card title</h5> -->
                    <p class="card-text">{{ note.content }}</p>
                    <i class="float-right mt-3">Date created: {{ note.date_created }}</i>
                </div>
            </div>
        </div>

        {% if loop.index % 4 == 0 %}
            </div>
        {% endif %}
        
    {% endfor %}

{% endblock %}